---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404"
description="Error 404, página no encontrada">
	<main class="py-52">
		<div class="flex flex-col justify-center items-center">
			<h1 class="text-9xl font-extrabold text-gray-950 text-center">404</h1>
			<p class="text-3xl font-bold text-[#14202E] mb-4">Page not found :(</p>
			<span class="text-lg font-medium text-[#14202E]">Parece que la página que buscas no existe, vuelve al <a href="/" class="text-lg text-blue-500 hover:underline underline-offset-2">inicio</a> para seguir navegando</span>
		</div>
	</main>
</Layout>