---
import Layout from "../layouts/Layout.astro";
import HeaderBoard from "../components/HeaderBoard.astro";
import Status from "../components/Status.astro";
---

<Layout title="Tablero"
description="Organiza tu proyecto, asigna tareas y administra tus tiempos con el tablero de Notapp.">
    <HeaderBoard />
    <div id="cards-container" class="max-w-7xl h-screen items-start grid grid-cols-4 gap-x-4 mx-auto mt-8">
        <Status id="toDo" title="Por Realizar" class="border-red-500"/>
        <Status id="inProgress" title="En Progreso" class="border-yellow-500"/>
        <Status id="inReview" title="En Revisión" class="border-orange-500"/>
        <Status id="Completed" title="Finalizados" class="border-green-500"/>
    </div>
</Layout>

<style>
	body, html {
		background: #000;
	}
</style>