---
import PlusIcon from "../components/icons/PlusIcon.astro"

import Layout from "../layouts/Layout.astro";
import HeaderBoard from "../components/HeaderBoard.astro";
---

<Layout>
    <HeaderBoard />
    <main>
        <header class="w-full px-2 py-4 flex bg-[#9DB8CD]">
            <span class="text-lg font-semibold">Nombre del tablero</span>
        </header>
        <div id="cards-container" class="bg-[#2B4257] w-full h-screen flex justify-start items-start px-2 py-4 gap-x-2">
            <button id="add-card-button" class="inline-flex items-center justify-center gap-x-2 bg-gray-300/50 text-white text-md font-semibold px-4 py-2 rounded-xl text-nowrap hover:bg-gray-400/50 transition duration-200">Añade nueva lista<PlusIcon class="size-4"/></button>
        </div>
        <script type="module" src="/src/scripts/cardFunctions.js" defer></script>
    </main>
</Layout>