---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

---

<Layout>
	<Hero />
	<section class="bg-gray-200 py-16">
		<div class="max-w-5xl mx-auto">
			<h3 class="text-5xl font-extrabold text-gray-950">Qué te ofrece Notapp</h3>
			<hr class="my-12 w-full border-gray-700">
			<div>
				<h4 class="text-2xl font-semibold text-gray-950 mb-4">Mejor control de tus proyectos</h4>
				<p class="max-w-xl text-pretty text-md font-medium text-gray-700">Notapp te ofrece una solución para gestionar tus proyectos de manera eficiente. Permite a ti y a tu equipo centralizar el registro de tareas pendientes, en curso y completadas en un solo lugar. Con herramientas de seguimiento en tiempo real, podrás monitorear el progreso y optimizar el rendimiento de tu equipo.</p>
			</div>
			<hr class="my-12 w-full border-gray-700">
			<div>
				<h4 class="text-2xl font-semibold text-gray-950 mb-4">Trabajo en equipo</h4>
				<p class="max-w-xl text-pretty text-md font-medium text-gray-700">Facilita la colaboración asignando tareas específicas a cada miembro del equipo, asegurando una organización clara y fluida del proyecto. Potencia la comunicación y el compromiso, maximizando la productividad colectiva. Además, podrás visualizar el avance del equipo de manera estructurada, fomentando la sinergia entre los colaboradores.</p>
			</div>
		</div>
	</section>
</Layout>
