---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Hero from '../components/Hero.astro';
---

<Layout title="Inicio"
description="Optimiza la gestión de tus tareas y proyectos con Notapp. Colabora eficientemente con tu equipo y potencia tu productividad al máximo nivel.">
	<!-- BACKGROUND CODE -->
	<div class="fixed left-0 top-0 -z-50 h-full w-full">
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>	</div>
	<Header />
	<Hero />
	<Footer />
</Layout>
