---
import TimeIcon from "../components/icons/TimeIcon.astro"
import BoardIcon from "../components/icons/BoardIcon.astro"

import Layout from "../layouts/Layout.astro"
import Headerwa from "../components/Headerwa.astro"
import Footer from "../components/Footer.astro"
import Board from "../components/Board.astro"
---

<Layout title="Tableros"
description="Crea tus tableros y empieza a organizar tu vida con Notapp">
	<Headerwa />
	<section class="max-w-5xl mx-auto py-40">
		<h3 class="inline-flex items-center justify-start gap-x-2 text-xl font-semibold text-gray-950 mb-2"><TimeIcon class="size-6"/> Visto recientemente</h3>
		<article class="flex flex-row mb-8">
			<Board />
		</article>
		<hr class="my-12 w-full border-gray-700">
		<h3 class="inline-flex items-center justify-start gap-x-2 text-xl font-semibold text-gray-950 mb-2"><BoardIcon class="size-6"/> Todos</h3>
		<article class="flex flex-row">
			<Board />
		</article>
	</section>
	<Footer />
</Layout>


  