<a href="/" class="bg-gray-950 p-2 flex flex-col items-start justify-start w-56 h-28 rounded-lg hover:bg-gray-950/80 transition duration-300">
    <h3 class="text-md font-semibold text-white">Nombre tablero</h3>
</a>