---
import PlusIcon from "./icons/PlusIcon.astro"
import MenuIcon from "./icons/MenuIcon.astro"
---

<article class="w-full">
    <div class="w-full bg-[#14202E] py-2 rounded-xl max-w-[272px] flex flex-col items-start px-2">
        <div class="w-full flex items-center justify-between mb-2">
            <textarea name="titleCard" id="titleCard" class="bg-transparent text-white text-md font-semibold rounded-lg px-2">Nombre de la lista...</textarea>
            <button class="w-8 h-8 flex items-center justify-center bg-[#88A9C3] p-2 rounded-xl text-gray-950 hover:bg-[#9DB8CD] transition duration-200"><MenuIcon class="size-4"/></button>
        </div>
        <div class="w-full">
            <form class="flex justify-between items-center">
                <input type="text" placeholder="Agregar tarea..." class="bg-[#14202E] text-gray-400 outline-none px-2">
                <button id="add-button" class="w-8 h-8 flex items-center justify-center bg-[#14202E] text-white p-2 rounded-xl hover:bg-gray-400/50 transition duration-200"><PlusIcon class="size-4"/></button>
            </form>
        </div>
        <div class="w-full">
            <ul id="ul-list" class="w-full">

            </ul>
        </div>
    </div>
    <script type="module" src="/src/scripts/createElements.js" defer></script>
</article>