---
import Badge from "./Badge.astro"
---

<article class="bg-transparent border border-gray-700 rounded-lg">
    <div class="w-full flex flex-col space-y-2">
        <div class="flex justify-start border-b border-gray-700 p-2">
           <h2 class="text-white text-md font-semibold">ESTO ES UN TÍTULO</h2>
        </div>
        <div class="w-full p-2 space-y-2">
            <p class="text-white text-sm font-medium mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <Badge />
        </div>
    </div>
</article>