---
import GitHubIcon from "./icons/GitHubIcon.astro"
---

<footer class="bg-white flex justify-center items-center">
    <div class="flex flex-col max-w-7xl items-center justify-center p-8">
        <div class="flex flex-col items-center justify-center">
            <h3 class="text-6xl font-extrabold text-gray-950 mb-2">Organiza tus días con Notapp</h3>
            <p class="text-lg font-medium text-gray-700 mb-4">¡Únete y empieza a gestionar tus actividades hoy mismo!</p>
            <a href="/" class="inline-flex items-center justify-center gap-x-2 border-gray-400 border-b-4 bg-gray-200 text-md font-semibold text-black/80 px-4 py-2 rounded-lg hover:border-gray-500 hover:border-b-6 hover:-translate-y-1 transition-all duration-300">Registrarse</a>
        </div>
        <hr class="my-8 w-full border-gray-700">
        <div class="flex w-full items-center justify-between">
            <span class="text-md font-semibold text-gray-700">© 2024 <a href="/" class="hover:underline underline-offset-4">Notapp</a> | Casi todos los derechos reservados</span>
            <a href="/" aria-label="Go to GitHub repository"><GitHubIcon class="size-6 hover:scale-125 transition duration-300"/></a>
        </div>
    </div>
</footer>