---
import ChevronIcon from "./icons/ChevronIcon.astro"
---

<header>
    <nav class="w-full bg-transparent inline-flex items-center justify-between p-4 lg:px-8 border-b border-gray-700">
        <div class="flex lg:flex-1 justify-start items-center gap-x-2">
            <a href="/" class="-m-1.5 p-1.5 flex flex-row gap-x-2">
                <span class="text-2xl font-extrabold text-white">Notapp</span>
            </a>
            <span class="text-gray-700"><ChevronIcon class="size-4"/></span>
            <span class="flex items-center text-sm font-medium text-white bg-gray-800/80 px-3 py-1 rounded-full">Tablero</span>
        </div>
    </nav>
</header>