---
import PlusIcon from "./icons/PlusIcon.astro"
import GitHubIcon from "./icons/GitHubIcon.astro"
---

<header>
    <nav class="bg-[#88A9C3] flex w-full items-center justify-between mx-auto p-2">
        <div class="flex items-end justify-start space-x-8">
            <a href="/">
                <span class="text-2xl font-extrabold text-gray-950">Notapp</span>
            </a>
            <ul class="flex gap-x-8">
              <li class="border-b-2 border-transparent hover:border-gray-950 transition duration-300">
                <a href="/workarea" class="text-md font-semibold text-[#14202E]">Tableros</a>
              </li>
        </div>
        <div class="flex items-center justify-center space-x-4">
            <a href="https://github.com/blaballos/notapp" rel="noopener noreferrer" target="_blank" aria-label="Go to GitHub repository" class="text-[#14202E]"><GitHubIcon class="size-7 hover:scale-125 transition duration-300"/></a>
            <a href="/404" class="inline-flex items-center justify-center gap-x-2 bg-[#2B4257] text-md font-bold border-none text-white relative px-4 z-30 py-2 rounded-lg after:-z-20 after:absolute after:size-1 after:bg-[#14202E] overflow-hidden after:left-2 after:bottom-0 after:translate-y-full after:rounded-lg after:hover:scale-[300] after:hover:transition-all after:hover:duration-1000 after:transition-all after:duration-700 transition-all duration-700">Crear tablero <PlusIcon class="size-5"/></a>
        </div>
    </nav>
</header>