<section class="max-w-7xl py-20 mx-4 mdmx-auto">
    <div class="w-full flex flex-col md:flex-row items-center justify-between md:space-x-4 md:space-y-0 space-x-0 space-y-4">
        <div class="flex flex-col items-center">
            <div class="max-w-2xl">
                <h1 class="text-7xl md:text-8xl font-extrabold text-white mb-4">
                    ¡Mejora tu productividad con Notapp!
                </h1>
                <p class="text-md font-medium text-white/90 mb-6">Gestiona proyectos, organiza plazos y asigna tareas junto a tus compañeros de equipo, ¡todo desde un mismo lugar!</p>
                <a id="signUpButtonHero" href="/register" class="items-center justify-center gap-x-2 border-purple-800 border-b-4 bg-purple-600 text-md font-extrabold text-white px-4 py-2 rounded-lg hover:border-purple-900 hover:border-b-6 transition duration-300">Registrarse</a>
            </div>
        </div>
        <div>
            <img src="/images/board-screen.webp" alt="Captura de la pestaña tablero con una preview de la app" class="rounded-t-lg w-full">
        </div>
    </div>
    <script src="/src/js/signIn.js"></script>
</section>