---
import PlusIcon from './icons/PlusIcon.astro';

interface Props {
    title: string;
    class: string;
    id: string;
    dataColum: string;
}

const { class: className, title, id, dataColum } = Astro.props
---

<div id={id} class="w-full flex flex-col col-span-1">
    <header class="w-full flex justify-between items-center mb-4">
        <div class=`${className} border-l-4`>
            <h3 class="text-white text-lg font-semibold px-2">{title}</h3>
        </div>
        <div>
            <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" data-column={dataColum} class="text-white" type="button"><PlusIcon class="size-6"/></button>
        </div>
    </header>
    <div class="container w-full h-screen space-y-4">
        
    </div>
</div>